body{
    font-family: Helvetica;
    font-size: 22px;
    color:seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    overflow-x: hidden;
}

a { color: inherit; } 

/*Nav*/
nav{
    top: 0;
    left:0;
    max-height: 69px;
    width: 100%;
    z-index: 1;
    
    position: fixed;
    display:flex;
    justify-content:space-between;

    border-bottom: 1px solid seashell;
    background-color: black;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav li{
    margin-right: 20px;
    text-decoration: underline;
}

nav img{
    height: 50px;
    margin: auto 0 auto 10px;
}

/*Header*/
header{
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 700px;
    max-width: 1200px;
    padding-top: 69px;
    margin: 0 auto;
    margin-bottom: 99px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header div{

    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


/*Futured Tea*/
#futuredtea{
    max-width: 1000px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
#futuredtea img{
    
    max-height: 200px;
    max-width: 300px;
    margin-bottom: 10px;
}

/* Locations */
#locations{
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg);
    max-width: 1000px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;

}
#locations h2{
    width: 100%;
}
.loc-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.loc-div div{
    background-color: black;
    opacity: 1;
    max-width: 300px;
    margin: 15px 40px 0 0 ;
}
#oakdale{
    margin: 15px 0 0 0 ;
}
#locations div h3,#locations div h4{
    margin: 15px;
}

/* Footer */ 
footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

h5{
    margin: auto;
}

#left{
    margin-left: 20px;
}

